aside {
    height: 10em;
}

body{
    background-color: #FFE4E1;
    margin-top: 8vw;
}

figcaption{
    text-align: center;
    font-family: "lobster_1.4regular";
}

figure{
    display: inline-block;
}

h1{
    font-size: 3em;
    font-family: "lobster_1.4regular";
}

h2{
    font-size: 2em;
    font-style: italic;
    text-decoration: underline;
}

header {
    background-color: #364246;
    color: white;
    line-height: 6vw;
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

li {
    font-family: "lobster_1.4regular";
}

ul {
    list-style-type: none;
    padding: 0;
}

.button {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    line-height: 30px;
    border-radius: 10px;
    background-color: #364246;
}

.icone_header img{
    width: 2em;
    margin-left: 1vw;
}

.navigation{
    display: flex;
}

.subMenu{
    display: none;
    position: absolute;
    right: 0px;
    top: 0.45vw;
    padding: 10px;
    background: #364246;
    z-index: 1000;
    margin-top: 40%;
    border-radius: 2px;
    line-height: 30px;
    width: auto;
    font-size: 0.8em;
}

.zoom img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.zoom :hover img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

#agenda {
    text-align: center;
    padding-top: 2.5vw;
    color: white;
    font-size: 1.2em;
}

#agenda-picture {
    background: url("../img/agenda.jpg") no-repeat scroll;
    background-size: cover;
}

#customPopup
{
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -175px;
    z-index: 2000;
    padding: 20px;
    height: 300px;
    width: 350px;
    background-color: #EEEEEE;
    font-size: 0.75em;
    line-height: 16px;
    color: #202020;
    border : 3px outset #555555;
}

#ESAM{
    width: 12%;
    margin-right: 10px;
    cursor:pointer;
}

#grayBack
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1999;
    opacity: 0.5;
}

#ICD{
    width: 15%;
    margin-right: 10px;
    cursor:pointer;
}

#IGS-Alternance{
    width: 13%;
    margin-right: 10px;
    cursor:pointer;
}

#IGS-Formation-continue{
    width: 13%;
    margin-right: 10px;
    cursor:pointer;
}

#IGS-RH{
    width: 11%;
    margin-right: 10px;
    cursor:pointer;
}

#IPI{
    width: 10%;
    margin-right: 10px;
    cursor:pointer;
}

#ISCPA{
    width: 12%;
    margin-right: 10px;
    cursor:pointer;
}

#logo_header {
    width: 8vw;
}

#Members {
    height: 31em;
    overflow: auto;
}

#Members_by_school{
    display: none;
}

#Members_image {
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 10px;
}

#maps{
    height: 100%;
    width: 100%;
}

#maps_div{
    margin-top: 0.2em;
    height: 20.8em;
}

#onemember_description{
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#onemember_image{
    width: 10em;
    height: 10em;
    border-radius: 10px;
}

#onemember_mail{
    display: inline-block;
}

#onemember_name{
    font-family: "lobster_1.4regular";
    font-size: 2em;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

#school_Titre {
    margin-top: 1vw;
}

#school_div {
    margin-bottom: 15px;
}

#Titre{
    display: inline-block;
    width: 50vw;
}

@media (max-width: 767px){

    body{
        margin-top: 29.5vw;
    }

    .icone_header img{
        width: 4vw;
        margin-left: 14.5vw;
    }

    .subMenu{
        right: 10vw;
        top: -31.5vw;
    }

    #ESAM{
        width: 18%;
    }

    #ICD{
        width: 22.5%;
    }

    #IGS-Alternance{
        width: 19.5%;
    }

    #IGS-Formation-continue{
        width: 19.5%;
    }

    #IGS-RH{
        width: 16.5%;
    }

    #IPI{
        width: 15%;
    }

    #ISCPA{
        width: 18%;
    }

    #logo_header {
        width: 15vw;
        margin-left: -10px;
    }

    #maps_div{
        height: 350px;
    }

    #Members_image {
        width: 15vw;
        height: 15vw;
    }

    #Titre{
        display: inline-block;
        width: 80vw;
    }

}

@media (min-width: 768px) and (max-width: 992px){

    body{
    }

}

@media (min-width: 992px) and (max-width: 1200px){

    body{
    }

}

@media (min-width: 1200px){

    body{
    }

}

@font-face {
    font-family: 'lobster_1.4regular';
    src: url('../fonts/lobster_1.4-webfont.woff2') format('woff2'),
    url('../fonts/lobster_1.4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
