body {
	background-color: #FFE4E1;
}

#color_head {
	background: #364246;
}

#desc {
	color: #FFE4E1;
	font-family: "lobster_1.4regular";
	font-size: 18px;
	margin-top: 3%;
	margin-left: 2%;
	}

h1 {
	color : #364246;
	text-align: center;
	font-size: 20px;
	font-family: "lobster_1.4regular";
	}

h2 {
	color : #364246;
	text-align: center;
	font-size: 20px;
	font-family: "lobster_1.4regular";
	}

h3 {
	color : #364246;
	text-align: center;
	font-size: 35px;
	font-family: "lobster_1.4regular";
	font-style: italic;
	}

#login {
	margin-top: 10%;
	margin-left: 10%
	}

#logo {
	margin-left: 5%;
	margin-top: 2%;
	width: 11vw;
	padding-bottom: 2%;
	}

#cit {
	font-size: 30px;
}

hr {
	margin-left: 10%;
	margin-right: 10%;
	}

#quote {
	color : #364246;
	font-family: "lobster_1.4regular";
}

#img_accueil {
	border-radius: 30px;
	padding-top: 1%;

}

.but1 {
	border-radius: 6px;
	color: #364246;
	background-color: #FFE4E1;
	height: 37px;
}

.Submit1 {
	margin-left: 2%;
}

.but2 {
	border-radius: 40px;
	color: #FFE4E1;
	background-color: #364246;
	width: 175px;
	margin-left: 30%;
}

.Submit2 {

}

li {
	display: inline;
	padding: 3%;

}

#langue {
	text-align: center;
	color: #364246;
}

#oubli {
	margin-left: 0%;
	font-size: 0.8em;
	color: #FFE4E1;
	font-family: "lobster_1.4regular";
}

@font-face {
    font-family: 'lobster_1.4regular';
    src: url('../fonts/lobster_1.4-webfont.woff2') format('woff2'),
    url('../fonts/lobster_1.4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input, button, li, select {
	font-family: "lobster_1.4regular";
}
