@font-face {
    font-family: 'lobster_1.4regular';
    src: url('../fonts/lobster_1.4-webfont.woff2') format('woff2'),
    url('../fonts/lobster_1.4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

aside {
    height: 10em;
}

body{
    background-color: #FFE4E1
}

figcaption{
    text-align: center;
    font-family: "lobster_1.4regular";
}

figure{
    display: inline-block;
}

h1{
    font-size: 3em;
    font-family: "lobster_1.4regular";
}

h2{
    font-size: 2em;
    font-style: italic;
    text-decoration: underline;
}

header {
    background-color: #364246;
    color: white;
    line-height: 6vw;
}

#agenda {
    text-align: center;
    padding-top: 2.5vw;
    color: white;
    font-size: 1.2em;
}

#agenda-picture {
    background: url("../img/agenda.jpg") no-repeat scroll;
    background-size: cover;
}

#customPopup
{
    position: fixed;
    display: none;
    left: 26.5%;
    top: 10%;
    z-index: 2000;
    padding: 20px;
    width: 560px;
    background-color: #EEEEEE;
    font-size: 0.75em;
    line-height: 16px;
    color: #202020;
    border : 3px outset #555555;
}

#grayBack
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1999;
    opacity: 0.5;
}

#logo_header {
    width: 8vw;
}

#Members {
    height: 31vw;
    overflow: auto;
}

#Members_image {
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 10px;
}

#Members_by_school{
    display: none;
}

#maps{
    height: 100%;
    width: 100%;
}

#maps_div{
    margin-top: 0.2vw;
    height: 20.8vw;
}

#maps_div{
    margin-top: 0.2vw;
    height: 20.8vw;
}

#onemember_description{
    font-size: 1em;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#onemember_image{
    width: 10vw;
    height: 10vw;
    border-radius: 10px;
}

#onemember_mail{
    display: inline-block;
}

#onemember_name{
    font-family: "lobster_1.4regular";
    font-size: 2em;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

#school_Titre {
    margin-top: 1vw;
}

#school_div {
    margin-bottom: 15px;
}

#ESAM{
    width: 12%;
    margin-right: 10px;
    cursor:pointer;
}

#ICD{
    width: 15%;
    margin-right: 10px;
    cursor:pointer;
}

#IGS-Alternance{
    width: 13%;
    margin-right: 10px;
    cursor:pointer;
}

#IGS-Formation-continue{
    width: 13%;
    margin-right: 10px;
    cursor:pointer;
}

#IGS-RH{
    width: 11%;
    margin-right: 10px;
    cursor:pointer;
}

#IPI{
    width: 10%;
    margin-right: 10px;
    cursor:pointer;
}

#ISCPA{
    width: 12%;
    margin-right: 10px;
    cursor:pointer;
}

#Titre{
    display: inline-block;
    width: 50vw;
}

.but2 {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    line-height: 30px;
    border-radius: 10px;
    background-color: #364246;
}

.icone_header img{
    width: 2vw;
    margin-left: 1vw;
}

.zoom img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.zoom :hover img {
    -webkit-transform: scale(2);
    transform: scale(2);
}

@media (max-width: 576px) {

    #logo_header {
        width: 25vw;
    }

}

@media (min-width: 577px) and (max-width: 768px){

    body{
        background-color: red;
    }

    .icone_header img{
        width: 4vw;
        margin-left: 13vw;
    }

    #logo_header {
        text-align: center;
        width: 13vw;
    }

    #maps_div{
        height: 350px;
    }

}

@media (min-width: 769px) and (max-width: 992px){
    body{
        background-color: yellow;
    }
}

@media (min-width: 993px) and (max-width: 1200px){
    body{
        background-color: blue;
    }
}

@media (min-width: 1201px){
    body{
        background-color: green;
    }
}