.navigation{
	display: flex;
}

ul {
	list-style-type: none;
}

.subMenu{
	position: absolute;
	left: 70px;
	top: 2px;
	padding: 10px;
	background: #364246;
	z-index: 1000;
	margin-top: 40%;
	border-radius: 2px;
	line-height: 40px;
	width: 67%;
}

li {
	font-family: "lobster_1.4regular";
}


