header {
    background-color: #364246;
    color: white;
    line-height: 6vw;
}

h1{
    font-size: 4vw;
    font-family: Calibri;
}

h2{
    font-size: 1vw;
    font-style: italic;
}

#Titre{
    width: 50vw;
}

#logo_header {
    width: 8vw;
}

#Members {
    width: 10px;
    height: 200px;
    overflow: auto;
}

.icone_header img{
    width: 2vw;
    margin-left: 1vw;
}

.zoom img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.zoom :hover img {
    -webkit-transform: scale(2);
    transform: scale(2);
}

